
/* stelle feedback */

.feedback {
  text-align: center;
}

#rating {
    font-size: 36px;
    display: inline-block;
  }
  
  .fa-star {
    color: #0B113B;
    cursor: pointer;
  }
  
  .checked {
    color: #00ffff;
  }

  .form {
    text-decoration: none;
    border-bottom: #d20094;
  }