@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");

body {
  box-sizing: border-box;
  background-image: url(/BW1/assets/img/bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.header1 {
  padding: 2em 6em 0;
}


.main {
  width: 60%;
  padding: 6em;
  padding-top: 0;
}

.logo {
  width: 11vw;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 6em;
  font-weight: 400;
  line-height: 0.8em;
  margin-bottom: 4vw;
}

.bold {
  font-weight: 900;
}

.subtitle {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  color: #d20094;
  margin-bottom: 0;
  font-size: 1.8em;
}

.par {
  margin-bottom: 0;
  margin-bottom: 2vw;
}

.section2 {
  font-size: 1.2em;
  line-height: 1.6em;
}

.radio {
  appearance: none;
  border-radius: 0;
  border: 2px solid white;
  width: 16px;
  height: 16px;
}

.radio:checked {
  background-color: white;
}

.aside1 {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 6em;
  align-items: center;
}

.proceed {
  margin-right: 15em;
}

.button {
  width: 200%;
  height: 7vh;
  font-size: 140%;
  background-color: #00ffff;
  border-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  box-shadow: 0 0 20px 1px #00ffff;
}

/*question*/

.btn {
  padding: 2vh;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255, 0.85);
  border-right: 1px solid rgb(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 42px;
  margin: 0.5em;
  margin-bottom: 3vh;
  width: 40%;
}

.radioClass {
  display: none;
}

.btn:hover {
  background-image: linear-gradient(180deg, #d20094, #900080);
  transition: 1s;
}

.main2 {
  width: 60%;
  margin: auto;
  padding: 6em;
  padding-top: 0;
  text-align: center;
}

.buttons-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  width: 100%;
}

#colorTen{
  color:#d20094
}

/* TIMER */

.circleContainer{
  display: flex;
  justify-content: flex-end;
}

.circle {
  width: 160px;
  height: 160px;
  margin-right: 5em;
}
#contQuestion {
  justify-content: center;
  position: fixed;
  bottom:0;
  padding-left:45%;
  padding-bottom: 3%;
}
