@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/BW1/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.header1 {
  padding: 2em 6em 0;
}

<<<<<<< HEAD
=======
/*welcome*/
>>>>>>> f104b9c8a2b9e809da681156e444b0c4bbae82f9

.main {
  width: 60%;
  padding: 6em;
  padding-top: 0;
}

.logo {
  width: 11vw;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 6em;
  font-weight: 400;
  line-height: 0.8em;
  margin-bottom: 4vw;
}

.bold {
  font-weight: 900;
}

.subtitle {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  color: #d20094;
  margin-bottom: 0;
  font-size: 1.8em;
}

.par {
  margin-bottom: 0;
  margin-bottom: 2vw;
}

.section2 {
  font-size: 1.2em;
  line-height: 1.6em;
}

.radio {
  appearance: none;
  border-radius: 0;
  border: 2px solid white;
  width: 16px;
  height: 16px;
}

.radio:checked {
  background-color: white;
}

.aside1 {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 6em;
  align-items: center;
}

.proceed {
  margin-right: 15em;
}

.button {
  width: 200%;
  height: 7vh;
  font-size: 140%;
  background-color: #00ffff;
  border-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  box-shadow: 0 0 20px 1px #00ffff;
}

/*question*/

.btn {
  padding: 2vh;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255, 0.85);
  border-right: 1px solid rgb(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 42px;
  margin: 0.5em;
  margin-bottom: 3vh;
  width: 40%;
}

.radioClass {
  display: none;
}

.btn:hover {
  background-image: linear-gradient(180deg, #d20094, #900080);
  transition: 1s;
}

.main2 {
  width: 60%;
  margin: auto;
  padding: 6em;
  padding-top: 0;
  text-align: center;
}

.buttons-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
<<<<<<< HEAD
}

/*contatore*/


.buttons-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;

}

/* TIMER */

.circleContainer{
  display: flex;
  justify-content: flex-end;
}

.circle {
  width: 160px;
  height: 160px;
  margin-right: 5em;
}

.secondCircle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.innerCircle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.textCircle{
  font-weight: 600px;
}


/* TIMER PROVA */

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eee;
  overflow: hidden;
}

.innerCircle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3498db;
  transform-origin: left center;
  transform: rotate(0deg);
  animation: countdown 300s linear forwards;
}

@keyframes countdown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
  0% {
    transform: rotate(0deg);
  }
  3.33% {
    transform: rotate(-120deg);
  }
  6.66% {
    transform: rotate(-240deg);
  }
  10% {
    transform: rotate(-360deg);
  }
  13.33% {
    transform: rotate(-480deg);
  }
  16.66% {
    transform: rotate(-600deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  23.33% {
    transform: rotate(-840deg);
  }
  26.66% {
    transform: rotate(-960deg);
  }
  30% {
    transform: rotate(-1080deg);
  }
  33.33% {
    transform: rotate(-1200deg);
  }
  36.66% {
    transform: rotate(-1320deg);
  }
  40% {
    transform: rotate(-1440deg);
  }
  43.33% {
    transform: rotate(-1560deg);
  }
  46.66% {
    transform: rotate(-1680deg);
  }
  50% {
    transform: rotate(-1800deg);
  }
  53.33% {
    transform: rotate(-1920deg);
  }
  56.66% {
    transform: rotate(-2040deg);
  }
  60% {
    transform: rotate(-2160deg);
  }
  63.33% {
    transform: rotate(-2280deg);
  }
  66.66% {
    transform: rotate(-2400deg);
  }
  70% {
    transform: rotate(-2520deg);
  }
  73.33% {
    transform: rotate(-2640deg);
  }
  76.66% {
    transform: rotate(-2760deg);
  }
  80% {
    transform: rotate(-2880deg);
  }
  83.33% {
    transform: rotate(-3000deg);
  }
  86.66% {
    transform: rotate(-3120deg);
  }
  90% {
    transform: rotate(-3240deg);
  }
  93.33% {
    transform: rotate(-3360deg);
  }
  96.66% {
    transform: rotate(-3480deg);
  }
  100% {
    transform: rotate(-3600deg);
  }
=======
  width: 100%;


}

.titleQuest {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 0.8em;
  margin-bottom: 4vw;
  padding-top: 3em;
}

#colorTen {
  color: #d20094;
}
#contQuestion {
  display: flex;
  justify-content: center;
  align-items: flex-end;
>>>>>>> f104b9c8a2b9e809da681156e444b0c4bbae82f9
}